.DS_Store
*/.DS_Store
*.swp
*~
Build/
DerivedData/
build/
*.o
*.lo
*.la
*.lai
*.so
*.dylib
*.modulemap
*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.pbxproj.bak
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
xcuserdata/
Packages/
.build/
.swiftpm/ 
!.swiftpm/Package.resolved
*.log
*.profraw
*.xcodeproj/.slather.yml